table {
    width: 300px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
td, th {
    padding: 3px;
    border: 1px solid black;
}
th {
    background: #b0e0e6;
}

#input_box p{
    margin: 0px;
}

#data_list{
    margin-top: 10px;
    overflow-y: auto;
    width: auto;
    height: 120px;
}

#input_box div{
    margin-bottom: 10px;
    margin-top: 10px;
}

#input_box{
    margin-bottom: 20px;
}
#search_trains{
    height: 0px;
    visibility: hidden;
}
.error {
    background: red;
}